/* Keeps page header at top of page and above rest of elements */
#pageHeader {
    background-color: #F2F2E9;
    height: 80px;
    width: 100%;
    position: fixed;
    border-bottom: solid 2px #000000;
    z-index: 3;
}

/* Dims the entire page besides slideout menu */
#pageDimmer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

/* Floats Localendar logo on left of page */
.logo {
    height: 100%;
    float: left;
    margin-left: 20px;
}

/* Turns cursor into pointer when logo is hovered over */
.logo:hover {
    cursor: pointer;
}

/* Contains the navigation bar lines and floats them to the right */
#navBarContainer {
    height: 42px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    margin-right: 20px;
    margin-top: 19px;
}

/* Formats navigation bar lines */
.navBarLine {
    height: 6px;
    width: 40px;
    background-color: #2E5584;
    float: left;
    margin-top: 6px;
}

/* Turns cursor into pointer when navigation bars are hovered over */
#navBarContainer:hover {
    cursor: pointer;
}

/* Contains all of the location search bar elements in middle of page */
#locationContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: 80vw;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 42px;
}

/* Formats the search button on location search bar */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
#setButton {
    width: 25%;
    height: 40px;
    background-color: #d6d6cf;
    border-radius: 90px 0px 0px 90px;
    text-align: center;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: min(max(15px, 2vw), 20px);
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px rgb(0, 0, 0);
}

/* Formats the text portion of the location search bar */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
#textPortion {
    width: 100%;
    height: 38px;
    background-color: #F2F2E9;
    font-size: min(max(15px, 2vw), 20px);
    border: none;
    border-radius: 0px 90px 90px 0px;
    padding-left: 20px;
    border: solid 1px rgb(0, 0, 0);
}

/* Turns the search button blue and turns the cursor into the pointer when
search button is hovered over */
#setButton:hover {
    background-color: #2E5584;
    color: #ffffff;
    cursor: pointer;
}

/* Contains all suggested results from the search bar */
#resultsContainer {
    border-radius: 25px;
    background-color: #F2F2E9;
    padding-left: 20px;
    padding-right: 20px;
    width: 75vw;
    max-height: 152px;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    margin-top: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Each contains a result from the search bar suggestions */
#resultContainerSmall {
    width: 100%;
}

/* Formats each suggestion from the search bar */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
#result {
    overflow-x: scroll;
    color: gray;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 38px;
    background-color: #f2f2e900;
    font-size: min(max(15px, 2vw), 20px);
    line-height: 38px;
}

/* Gets rid of scrollbar on the suggestions from the search bar */
#result::-webkit-scrollbar {
    display: none;
}

/* Turns the background of suggestions darker and turns the cursor into
a pointer when a suggestion is hovered over */
#result:hover {
    background-color: #d4d4cc70;
    cursor: pointer;
    color:rgb(0, 0, 0);
}

/* Formats the Sort By Date Button and floats it left */
#sortByDateButton {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

/* Formats the Show Past Events Button and floats it left */
#showPastEventsButton {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 12rem;
    float: left;
}

/* Darkens the Sort By Date button when it is hoverd over */
#sortByDateButton:hover {
    filter: brightness(85%);
}

/* Formats the Radius button */
#radiusButton {
    width: 13rem;
    margin-bottom: 10px;
    float: left;
}

/* Class for the Sort By Date button */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
.optionsButton {
    background-color: #2E5584;
    color: white;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5rem;
    height: 3rem;
    width: 8rem;
    font-size: min(max(4vw, 20px), 15px);
    font-family: Arial, Helvetica, sans-serif;
}

/* Contains all of the filter buttons below the location search bar */
#optionsContainer {
    width: 80vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 70px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Formats the failed search container */
#failedSearchContainer {
    background-color: white;
    float: inherit;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    border: solid 1px rgb(0, 0, 0);
    border-color: black;
    border-radius: 3rem;
    width: 240px;
}

/* Formats text within the failed search container */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
#failedSearch {
    font-size: min(max(4vw, 20px), 15px);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* Contains all of the events */
#eventsContainer {
    background-color: rgb(214, 196, 171);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding-top: 105px;
    padding-bottom: 20px;
}

/* Contains information for seperate events */
.event {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: 80vw;
    min-height: 200px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E5584;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    border: solid 2px #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2E9;
    overflow: hidden;
}

/* Contains the meta data about the events in the top left half of the event container */
.eventHalf {
    float: left;
    background-color: rgba(255, 0, 0, 0);
    height: auto;
    width: 60%;
    border-radius: 15px 0px 0px 0px;

}

/* Formats the event name text */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
.eventName {
    width: 90%;
    margin: 0px 0px 0px 0px;
    font-size: min(max(5vw, 15px), 30px);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    hyphens: auto;
}

/* Formats the event details below the event name text */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
.eventDetails {
    width: 80%;
    margin: 5px 0px 20px 0px;
    font-size: min(max(4vw, 20px), 15px);
    text-align: left;
    color: rgb(187, 187, 187);
}

/* Formats the white border that seperates the event information from description */
.eventBorder {
    float: left;
    width: 100%;
    border-top: solid 1px rgb(255, 255, 255);
}

/* Formats the event description text */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
.eventDescription {
    padding-top: 20px;
    float: right;
    width: 100%;
    text-align: left;
    font-size: min(max(3vw, 10px), 15px);
    overflow-wrap: break-word;
    hyphens: auto;
    margin-bottom: 20px;
}

/* Formats the profile portion of the event postings in the top right half */
.profileHalf {
    float: right;
    background-color: rgba(255, 0, 0, 0);
    height: 30%;
    border-radius: 0px 15px 0px 0px;
    margin-top: -20px;
    max-width: 30%;
}

/* Formats the delete button for posts */
.deleteEvent {
    float: right; 
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: "Verdana";
    cursor: pointer;
    border: 0;
    width: 10%;
    height: 1.5rem;
}

/* Formats the profile picture on each of the event postings */
#eventPicture img {
    float: right;
    margin-right: 0px;
    border-radius: 90px;
    height: min(70px, 20vw);
    width: min(70px, 20vw);
    margin-bottom: 10px;
}

/* Formats the text of the event poster in each event */
/* Code for font-size: min(max(px, px), px) used from website:
 https://css-tricks.com/how-do-you-do-max-font-size-in-css/ 
 */
#eventPoster {
    width: 100%;
    float: right;
    margin-top: 20px;
    text-align: right;
    font-size: min(max(4vw, 10px), 15px);
    overflow-wrap: break-word;
    hyphens: manual;
    margin-bottom: 5px;
}

/* Formats the sliding menu and keeps it hidden with transform initially */
/* Code for sliding panel gotten from StackOverflow post:
https://stackoverflow.com/questions/15658858/how-to-make-div-slide-from-right-to-left
*/
#sidePanel {
    z-index: 5;
    height: 100vh;
    width: 80%;
    max-width: 300px;
    background-color: #F48E4A;
    position: fixed;
    right: 0;
    border-left: solid 2px #000000;
    transform: translateX(100%);
    transition: transform 0.5s;
}  
 
/* Container for the profile name and picture on the sliding menu */
#profileContainer{
    color: #F2F2E9;
}

/* Formats the profile name in the sliding menu */
#profileName {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F48E4A;
    text-align: center;
    font-size: 30px;
}

/* Formats the profile picture in the sliding menu */
#profilePicture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

/* Formats the "View Profile" text on the sliding menu */
#viewProfile {
    border-top: solid 2px rgb(0, 0, 0);
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

/* Formats the "Create Post" text on the sliding menu */
#createPost {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

/* Formats the "Logout" text on the sliding menu */
#signOut {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

/* Turns the Logout text black and turns the cursor into a pointer
when the "Logout" text is hovered over on the sliding menu */
#signOut:hover {
    color: black;
    cursor: pointer;
}

/* Turns the Create Post text black and turns the cursor into a pointer
when the "Create Post" text is hovered over on the sliding menu */
#createPost:hover {
    color: black;
    cursor: pointer;
}

/* Turns the View Profile text black and turns the cursor into a pointer
when the "View Profile" text is hovered over on the sliding menu */
#viewProfile:hover {
    color: black;
    cursor: pointer;
}

/* Slider button, taken from w3 schools */
/* link: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider in the Show Past Events toggle */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* Sets the position of the slider initially in the Show Past Events toggle */
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* Sets the color of the slider after it is toggled on */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Sets the box-shadow of the toggle for Show Past Events */
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  /* Transforms the input */
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  /* Sets the border-radius of the slider before it is toggled on */
  .slider.round:before {
    border-radius: 50%;
  }
