#pageHeader {
    background-color: #F2F2E9;
    height: 80px;
    width: 100%;
    position: fixed;
    border-bottom: solid 2px #000000;
    z-index: 3;
}

#pageDimmer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.logo {
    height: 100%;
    float: left;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

#navBarContainer {
    height: 42px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    margin-right: 20px;
    margin-top: 19px;
}

.navBarLine {
    height: 6px;
    width: 40px;
    background-color: #2E5584;
    float: left;
    margin-top: 6px;
}

#navBarContainer:hover {
    cursor: pointer;
}

#locationContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: 80vw;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 42px;
}

#setButton {
    width: 25%;
    height: 40px;
    background-color: #d6d6cf;
    border-radius: 90px 0px 0px 90px;
    text-align: center;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: min(max(15px, 2vw), 20px);
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px rgb(0, 0, 0);
}

#textPortion {
    width: 100%;
    height: 38px;
    background-color: #F2F2E9;
    font-size: min(max(15px, 2vw), 20px);
    border: none;
    border-radius: 0px 90px 90px 0px;
    padding-left: 20px;
    border: solid 1px rgb(0, 0, 0);
}

#setButton:hover {
    background-color: #2E5584;
    color: #ffffff;
    cursor: pointer;
}

#resultsContainer {
    border-radius: 25px;
    background-color: #F2F2E9;
    padding-left: 20px;
    padding-right: 20px;
    width: 75vw;

    /* width: 95%; */
    max-height: 152px;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    margin-top: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#resultContainerSmall {
    width: 100%;
}

#result {
    overflow-x: scroll;
    color: gray;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 38px;
    background-color: #f2f2e900;
    font-size: min(max(15px, 2vw), 20px);
    line-height: 38px;
}

#result::-webkit-scrollbar {
    display: none;
}

#result:hover {
    background-color: #d4d4cc70;
    cursor: pointer;
    color:rgb(0, 0, 0);
}

#sortByDateButton {
    background-color: #2E5584;
    color: white;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5rem;
    height: 3rem;
    width: 8rem;
    font-size: min(max(4vw, 20px), 15px);
    font-family: Arial, Helvetica, sans-serif;
}

#sortByDateButton:hover {
    filter: brightness(85%);
}

#optionsContainer {
    width: 80vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#eventsContainer {
    background-color: rgb(214, 196, 171);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding-top: 105px;
    padding-bottom: 20px;
}

.event {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: 80vw;
    min-height: 200px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E5584;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    border: solid 2px #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2E9;
    overflow: hidden;
}

.eventHalf {
    float: left;
    background-color: rgba(255, 0, 0, 0);
    height: auto;
    width: 60%;
    border-radius: 15px 0px 0px 0px;

}

.eventName {
    width: 90%;
    margin: 0px 0px 0px 0px;
    font-size: min(max(5vw, 15px), 30px);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    hyphens: auto;
}

.eventDetails {
    width: 80%;
    margin: 5px 0px 20px 0px;
    font-size: min(max(4vw, 20px), 15px);
    text-align: left;
    color: rgb(187, 187, 187);
}

.eventBorder {
    float: left;
    width: 100%;
    border-top: solid 1px rgb(255, 255, 255);
}

.eventDescription {
    padding-top: 20px;
    float: right;
    width: 100%;
    text-align: left;
    font-size: min(max(3vw, 10px), 15px);
    overflow-wrap: break-word;
    hyphens: auto;
    margin-bottom: 20px;
}

.profileHalf {
    float: right;
    background-color: rgba(255, 0, 0, 0);
    height: 30%;
    border-radius: 0px 15px 0px 0px;
    margin-top: -20px;
    max-width: 30%;
}

.deleteEvent {
    float: right; 
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: "Verdana";
    cursor: pointer;
    border: 0;
    width: 10%;
    height: 1.5rem;
}

#eventPicture img {
    float: right;
    margin-right: 0px;
    border-radius: 90px;
    height: min(70px, 20vw);
    width: min(70px, 20vw);
    margin-bottom: 10px;
}

#eventPoster {
    width: 100%;
    float: right;
    margin-top: 20px;
    text-align: right;
    font-size: min(max(4vw, 10px), 15px);
    overflow-wrap: break-word;
    hyphens: manual;
    margin-bottom: 5px;
}


#sidePanel {
    z-index: 5;
    height: 100vh;
    width: 80%;
    max-width: 300px;
    background-color: #F48E4A;
    position: fixed;
    right: 0;
    border-left: solid 2px #000000;
    transform: translateX(100%);
    transition: transform 0.5s;
}  
 

#profileContainer{
    color: #F2F2E9;
}

#profileName {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F48E4A;
    text-align: center;
    font-size: 30px;
}

#profilePicture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

#viewProfile {
    border-top: solid 2px rgb(0, 0, 0);
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

#createPost {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

#signOut {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

#signOut:hover {
    color: black;
    cursor: pointer;
}

#createPost:hover {
    color: black;
    cursor: pointer;
}

#viewProfile:hover {
    color: black;
    cursor: pointer;
}

