#pageHeader {
    background-color: #F2F2E9;
    height: 80px;
    width: 100%;
    position: fixed;
    border-bottom: solid 2px #000000;
}

.logo {
    height: 100%;
    float: left;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

#navBarContainer {
    height: 42px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    margin-right: 20px;
    margin-top: 19px;
}

.navBarLine {
    height: 6px;
    width: 40px;
    background-color: #2E5584;
    float: left;
    margin-top: 6px;
}

#navBarContainer:hover {
    cursor: pointer;
}

#eventsContainer {
    height: 100%;
    width: 100vw;
    padding-top: 85px;
    padding-bottom: 20px;
}

.event {
    margin-top: 20px;
    width: 94vw;
    min-height: 200px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E5584;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    border: solid 2px #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2E9;
    overflow: hidden;
}

.eventHalf {
    float: left;
    background-color: rgba(255, 0, 0, 0);
    height: auto;
    width: 60%;
    border-radius: 15px 0px 0px 0px;

}

.eventName {
    width: 90%;
    margin: 0px 0px 0px 20px;
    font-size: min(max(5vw, 15px), 30px);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    hyphens: auto;
}

.eventDetails {
    width: 80%;
    margin: 5px 0px 20px 20px;
    font-size: min(max(4vw, 20px), 15px);
    text-align: left;
    color: rgb(187, 187, 187);
}

.eventDescription {
    border-top: solid 1px rgb(255, 255, 255);
    padding-top: 20px;
    width: 98% - 20px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-size: min(max(3vw, 10px), 15px);
    overflow-wrap: break-word;
    hyphens: auto;
    margin-bottom: 20px;
}

.profileHalf {
    float: right;
    background-color: rgba(255, 0, 0, 0);
    height: 30%;
    border-radius: 0px 15px 0px 0px;
    margin-top: -20px;
    max-width: 30%;
}

#eventPicture img {
    float: right;
    margin-right: 20px;
    border-radius: 90px;
    height: min(70px, 20vw);
    width: min(70px, 20vw);
    margin-bottom: 10px;
}

#eventPoster {
    width: 100%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    text-align: right;
    font-size: min(max(4vw, 10px), 15px);
    overflow-wrap: break-word;
    hyphens: manual;
    margin-bottom: 5px;
}


#sidePanel {
    z-index: 2;
    height: 100vh;
    width: 80%;
    max-width: 300px;
    background-color: #F48E4A;
    position: fixed;
    right: 0;
    border-left: solid 2px #000000;
    transform: translateX(100%);
    transition: transform 0.5s;
}  
 

#profileContainer{
    color: #F2F2E9;
}

#profileName {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F48E4A;
    text-align: center;
    font-size: 30px;
}

#profilePicture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

#viewProfile {
    border-top: solid 2px rgb(0, 0, 0);
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

#createPost {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

#signOut {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

#signOut:hover {
    color: black;
    cursor: pointer;
}

#createPost:hover {
    color: black;
    cursor: pointer;
}

#viewProfile:hover {
    color: black;
    cursor: pointer;
}

