#pageHeader {
    background-color: #F2F2E9;
    height: 80px;
    width: 100%;
    position: fixed;
    border-bottom: solid 2px #000000;
}

.logo {
    height: 100%;
    float: left;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

#navBarContainer {
    height: 42px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    margin-right: 20px;
    margin-top: 19px;
}

.navBarLine {
    height: 6px;
    width: 40px;
    background-color: #2E5584;
    float: left;
    margin-top: 6px;
}

#navBarContainer:hover {
    cursor: pointer;
}

#eventsContainer {
    height: 100%;
    width: 100%;
    background-color: rgb(214, 196, 171);
    padding-top: 83px;
}

.event {
    height: 25vh; 
    background-color: #2E5584;
    margin: 15px 20px 15px 20px;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    border: solid 2px #000000;
    color: white;
}

#sidePanel {
    z-index: 2;
    height: 100vh;
    width: 80%;
    max-width: 300px;
    background-color: #F48E4A;
    position: fixed;
    right: 0;
    border-left: solid 2px #000000;
    transform: translateX(100%);
    transition: transform 0.5s;
}  
 

#profileContainer{
    color: #F2F2E9;
}

#profileName {
    margin-top: 10px;
    background-color: #F48E4A;
    text-align: center;
    font-size: 30px;
}

#profilePicture {
    background-color: #F48E4A;
    margin: auto;
    background-color: #3a7070;
    border-radius: 90px;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

#viewProfile {
    border-top: solid 2px rgb(0, 0, 0);
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

#createPost {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

#signOut {
    height: 20px;
    width: 100%;
    margin-top: 30px;
    color: #F2F2E9;
    font-size: 30px;
    text-align: center;
}

#signOut:hover {
    color: black;
    cursor: pointer;
}

#createPost:hover {
    color: black;
    cursor: pointer;
}

#viewProfile:hover {
    color: black;
    cursor: pointer;
}

